.vscode/
venv/
*.drawio
*.brawio.*
**/__pycache__/
**/*.py[cod]

build/
Database/
TestProjects/*/

experiments/98_regex/llvm-project
experiments/repair/init_prompts
experiments/repair/generated_test
experiments/agent/*-proj

gittoken
temp/
*/99_archive
*.profraw
